@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.ttf');
}

/*Common*/
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 120px;
    padding-bottom: 80px;
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

footer {
    height: 50px;
    width: 100%;
    background-color: #0f1b5f;
    color: #ffffff;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0px;
}

.container {
    /*width: 60%;*/
}

a {
    color: #0f1b5f;
}

a:hover {
    color: #9d0d15;
    text-decoration: none;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #0f1b5f;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color: #0f1b5f;
}

.error {
  margin-top: 20px;
}

input:invalid {
    border-color: #9d0d15;
}

input[type=radio] {
    margin-right: 4px;
}

label {
    font-weight: 300;
    text-align: right;
    display: inline;
}

.panel {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background-color: #ffffff;
    padding: 30px 30px 10px 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0px;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px rgba(15, 27, 95, 0.5);
    border-radius: 0px;
    box-shadow: none;
    font-weight: 600;
}

.form-control:focus,
.form-control:hover {
    border-bottom: solid 2px rgba(15, 27, 95, 1);
    box-shadow: none;
}

.btn {
    padding: 10px 20px;
    background-color: #9d0d15;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    font-size: 24px;
    font-weight: 300;
    /*line-height: 25px;*/
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.2s;
}

.btn:hover,
.btn:focus {
    color: #ffffff;
    background-color: #0f1b5f;
    transition: background-color 0.2s;
}

.btn-link {
    font-size: 18px;
    width: auto;
    background-color: transparent;
    color: #0f1b5f;
}

.btn-link:hover {
    background-color: transparent;
    color: #9d0d15;
    text-decoration: none;
}

.input-group-addon {
    background-color: transparent;
    border: none;
}

thead {
  height: 40px;
  font-weight: 600;
  background-color: #dddddd;
}
/*END Common*/

/*Header*/
.navbar {
    height: 80px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    line-height: 38px;
}

#logo {
    height: 40px;
    float: left;
    margin-right: 20px;
}

.nav.navbar-nav.navbar-right {
    height: 80px;
}

.nav.navbar-nav.navbar-right > li {
    height: 80px;
}

.login,
.register {
    line-height: 52px !important;
    vertical-align: middle;
}

.navbar-default .navbar-brand:hover {
  color: #9d0d15 !important;
}

.navbar-default .navbar-brand {
  color: #0f1b5f;
}

.dropdown {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown .dropdown-toggle {
  height: 50px !important;
  line-height: 22px !important;
}

.dropdown-menu {
  font-size: 18px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.dropdown-menu > li > a {
  font-weight: lighter;
}

.navbar-default .navbar-nav > li > a {
  color: #0f1b5f;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #9d0d15;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #9d0d15;
  background-color: transparent;
}

.navbar .navbar-header {
  margin-right: 40px;
}

.navbar .collapse.navbar-collapse .navbar-nav > li > a {
  height: 80px;
  line-height: 52px;
}
/*END Header*/

/*Breadcrumb*/
.breadcrumb {
    background-color: transparent;
    clear: both;
    margin: 0px;
    padding-bottom: 20px;
}

.breadcrumb > li {
    font-size: 14px;
}

.breadcrumb > li + li::before {
    content: '|';
}

/*END Breadcrumb*/

/*Login*/
/*END Login*/

/*Index*/
.tournament {
    width: 60%;
    margin: 0px auto 30px;
}

.date {
    font-size: 18px;
    font-weight: lighter;
}

.tournament-open,
.tournament-finished {
    margin-bottom: 40px;
}

.tournament-open {
    color: #41a62a;
}

.tournament-finished {
    color: #9d0d15;
}

.tournament .info p {
    margin-bottom: 15px;
}

.tournament .info-label {
    text-align: right;
}

.tournament .info-data {
    font-weight: 600;
}

.tournament .info .fee {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #0f1b5f;
    margin-bottom: 50px;
}

.tournament .fee-label {
    opacity: 0.5;
    font-size: 24px;
}

.fee-label > img {
    margin-top: -4px;
}

.tournament-btn {
    float: right;
    margin-bottom: 20px;
    margin-top: 0px;
}

.tournament .dropdown {
    display: inline-block;
    float: right;
    margin-top: -90px;
}

.tournament .dropdown > .dropdown-toggle {
    border: none;
    font-size: 24px;
    background-color: transparent;
    color: #0f1b5f;
}

.add-tournament-btn {
    display: block;
    width: 60%;
    margin: 0px auto 20px;
    padding: 10px;
    background-color: transparent;
    color: #9d0d15;
    border: solid 1px #9d0d15;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    transition: color 0.5s, background-color 0.5s;
}

.add-tournament-btn:hover,
.add-tournament-btn:focus {
    transition: color 0.5s, background-color 0.5s;
    text-decoration: none;
    color: #ffffff;
    background-color: #9d0d15;
}

.tournament .breadcrumb {
    padding-bottom: 0px;
}

/*END Index*/

/*Tournament*/
.description {
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

.decree {
    width: 80%;
    margin: 20px auto;
}

.details {
    width: 80%;
    margin: 40px auto;
}

.detail {
    text-align: right;
    font-weight: 600;
}

.penalty {
    font-style: italic;
    padding: 20px;
    border: solid 1px #9d0d15;
    width: 80%;
    margin: 0px auto 40px;
}

.schedule {
    margin-bottom: 40px;
}

.schedule-day {
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 20px;
}

.schedule-time {
    list-style-type: none;
}

.time {
    font-weight: 600;
    margin-right: 40px;
}

.tournament-btn-lg {
    width: 80%;
    margin: 60px auto 20px;
    display: block;
    float: none;
}

/*END Tournament*/

/*Players*/
.squad {
  width: 48%;
  padding: 30px;
  margin-right: 2%;
  margin-bottom: 30px;
  float: left;
}

/*.squad:nth-child(2n+1) {*/
  /*margin-right: 0px;*/
  /*margin-left: 2%;*/
/*}*/

.squad h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: #0f1b5f;
}

.squad .players-label {
  font-weight: bolder;
}

.squad > .panel-body > ol {
  padding-left: 20px;
}

.squad > .panel-body > ol > li {
  font-weight: lighter;
    width: 60%;
  float: left;
}

.squad form {
  width: 30%;
  float: left;
}

.squad .remove-btn {
  font-size: 14px;
}

.players-tournament-btn {
    margin-top: 20px;
    margin-bottom: 0px;
}

.squad .apply-form {
    width: 100%;
    float: none;
}
/*END Players*/

/*Apply*/
.apply {
  width: 50%;
  padding: 30px;
  margin: auto;
}

.apply .form-control {
  padding-top: 0px;
  padding-bottom: 0px;
}

.apply .data {
    width: 50%;
    font-weight: 600;
}

.apply .players-list {
  padding-left: 20px;
}

.apply > form > .inputs {
    clear: both;
}

.apply .tournament-btn {
  margin-top: 30px;
  margin-bottom: 0px;
}
/*END Apply*/

/*Results*/
#result-tabs {
  border: none;
  font-size: 18px;
}

#result-tabs > li {
  margin-bottom: 0px;
  background-color: #eeeeee;
}

#result-tabs > li > a {
  border: none;
  border-radius: 0px;
}

#result-tabs > li > a:hover {
  color: #0f1b5f;
  background-color: #dddddd;
}

#result-tabs > li.active > a {
  background-color: #0f1b5f;
  color: #ffffff;
}

#results {
  padding: 30px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 300;
}

#results > div > table {
  width: 100%;
}

#results > div > table > thead {
  height: 40px;
  font-weight: 600;
}

th, td {
  padding: 10px;
}

tr:nth-child(2n) {
  background-color: #eeeeee;
}

.position {
  width: 50px;
}

.player-name {
  width: 200px;
}

.player-result {
    width: 100px;
    text-align: center;
}

#final-results > table > thead > tr > .player-result,
#final-results > table > tbody > tr > .player-result {
  text-align: right;
}

#final-results > table > tbody > tr > .player-bonus {
  text-align: left;
}

.player-sum, .player-avg, .player-bonus {
  text-align: right;
}
/*END Players*/

/*Form Wizard*/
.bs-wizard {
    margin: 20px auto;
    width: 60%;
}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background-color: transparent; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #0f1b5f; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 4px; background-color: #dddddd; box-shadow: none; margin: 18px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #0f1b5f; transition: none;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot {background-color: rgba(15, 27, 95, 0.5)}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {background-color: #dddddd;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/* New Tournament */
#new-tournament {
    width: 60%;
    padding: 30px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.creation-step > h1 {
  margin-bottom: 40px;
}

#next-step, #save {
  float: right;
}

#prev-step {
  color: #9d0d15;
  background-color: transparent;
  border: solid 1px #9d0d15;
}

#prev-step:hover {
    background-color: #9d0d15;
    color: #ffffff;
}

#new-tournament > .creation-step > .form-group > .form-group > label {
  vertical-align: middle;
}

#new-tournament > .creation-step > .form-group > label {
    vertical-align: top;
}

#new-tournament > .creation-step > .form-group > .form-control,
#new-tournament > .creation-step > .form-group > .form-group > .form-control,
#new-tournament > .creation-step > .form-group > .form-group > .checkbox,
#new-tournament > .creation-step > .form-group > .choose-type {
  width: 40%;
  display: inline-block;
}

.creation-step > .form-group > .input-group {
  margin-left: 20px;
}

.creation-step > .well > .form-group > .form-control {
    width: 40%;
}

.well {
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0px;
}

.well h3 {
  width: 80%;
  margin-top: 0px;
  display: inline-block;
}

#add-squad {
  background-color: transparent;
  color: #9d0d15;
  border: solid 1px #9d0d15;
  margin: auto auto 20px auto;
  display: block;
  transition: color 0.5s, background-color 0.5s;
}

#add-squad:hover {
  background-color: #9d0d15;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s;
}

.remove-squad {
  float: right;
}
/* END New Tournament */

/*Running Game*/
.stages {
  float: left;
    width: 15%;
  margin-top: 40px;
  margin-right: 5%;
    padding: 10px;
}

.stages > h3 {
  margin: 22px 15px 11px;
}

.stages > .list-group > .list-group-item,
.stages > .list-group > .list-group-item > .list-group > .list-group-item {
  border: none;
  border-radius: 0px;
}

.stages > .list-group {
  font-weight: 600;
  margin-bottom: 0px;
}

.stages > .list-group > .list-group-item > .list-group {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 400;
}

.stages > .list-group > .list-group-item.active,
.stages > .list-group > .list-group-item > .list-group > .active {
  background-color: #0f1b5f;
}

.stages > .list-group > .list-group-item.active > .list-group {
    color: rgb(99, 107, 111);
}

.game-process {
    width: 75%;
    float: left;
    clear: right;
}

.game-process > .bs-wizard {
  height: 60px;
}

.part > form > table {
  width: 100%;
}

.part > form > table > thead > tr {
  height: 40px;
  font-weight: 600;
  background-color: #dddddd;
}

.part > form > button[type='submit'] {
  margin: 40px auto 0px auto;
  display: block;
}

.played {
    border: none;
}

.post-result,
.post-opponent-result {
    width: 24px;
    height: 24px;
    margin-top: 0px;
    padding: 0px;
    font-size: 14px;
    background-color: transparent;
    color: #0f1b5f;
    display: none;
}

.post-result:hover,
.post-opponent-result:hover {
    background-color: transparent;
    color: #0f1b5f;
}

.confirm-checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}

.confirm-checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
}

.confirm-checkbox:not(checked) + label:before {
    content: '';
    width: 24px;
    height: 24px;
    background: url('../img/unchecked.png');
    position: absolute;
    top: 4px;
}

/* Меняем фон чекбокса, когда он включен. */
.confirm-checkbox:checked + label:before {
    background: url('../img/checked.png');
}

.round {
    margin: 10px auto 40px;
    width: 80%;
  font-size: 18px;
}

.round h3 {
    margin-bottom: 20px;
}

.opponents {
    /*height: 40px;*/
    margin-bottom: 10px;
}

.opponent {
    width: 45%;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.opponent:nth-child(2n) {
    float: right;
}

.opponent-name {
    width: 150px;
  background-color: transparent;
  border: none;
    text-align: right;
}

.opponent:nth-child(2n) .opponent-name {
    text-align: left;
}

.opponent-result {
    border: none;
  border-bottom: solid 2px rgba(15, 27, 95, 0.5);
  box-shadow: none;
    text-align: center;
}

.opponent-result:focus {
  border-bottom: solid 2px rgba(15, 27, 95, 1);
  box-shadow: none;
}

.opponent-bonus {
    width: 50px;
    border: none;
  background-color: transparent;
    font-family: 'Oswald', sans-serif;
    color: #0f1b5f;
}

.results {
    padding: 5%;
}

.results-header {
    background-color: #dddddd !important;
}

.results > div > table > tbody > tr:nth-child(2n+1) {
    background-color: #eeeeee;
}

.bonus {
    width: 50px;
}

/*END Running Game*/

/*User*/
.user {
    width: 80%;
    padding: 30px;
    margin: 20px auto;
}

#user-photo {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
}

#user-photo > img {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

#statistics {
    background-color: transparent !important;
}

#edit-link {
    float: right;
    display: block;
}

.avatar-file {
    border: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.avatar-file + label {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0px;
    height: 36px;
    padding: 6px 12px;
    cursor: pointer; /* "hand" cursor */
}

.avatar-file:focus + label,
.avatar-file + label:hover {
}

.avatar-file + label {
}

.avatar-file:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

#user-edit {
    width: 80%;
    padding: 30px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

#user-edit > .form-group > .form-control,
#user-edit > .form-group > #gender-choose,
#user-edit > .form-group > #avatar {
    width: 50%;
    margin-left: 20px;
    display: inline-block;
    font-size: 18px;
}

#user-edit > h1 {
    margin-bottom: 40px;
}

#gender-choose-label {
    vertical-align: top;
}

.cancel-btn {
    background-color: transparent;
    color: #9d0d15;
    border: solid 1px #9d0d15;
}

.cancel-btn:hover {
    color: #ffffff;
    background-color: #9d0d15;
    transition: color 0.4s, background-color 0.4s;
}

.save-btn {
    float: right;
}

.save-btn:hover {
    color: #ffffff;
}

.clearfix {
    /*display: block;*/
    clear: both;
}

#popup-avatar {
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    overflow: hidden;
    top: 0px;
    z-index: 100;
}

#popup-content {
    background-color: #ffffff;
    margin: 200px auto;
    padding: 20px;
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: 500px;
}

#uploaded-image {
    height: auto;
    width: auto;
    max-height: 460px;
    max-width: 460px;
}

#close-crop {
    float: right;
    clear: both;
    /*margin-right: -20px;*/
    /*margin-top: -20px;*/
}

#submit-crop {

}

/*END User*/



#description {
    resize: none;
}

#qualification {
    float: left;
    width: 40%;
}

#final {
    margin-left: 40%;
    width: 40%;
}

.remove {
    float: right;
}

.btn-file {
    display: none;
}

@media screen and (max-width: 980px) {
    .tournament {
        width: 80%;
    }

    .col-md-6 {
        width: 50%;
        float: left;
    }

}

@media screen and (max-width: 360px) {
    .tournament {
        width: 100%;
        padding: 10px 10px 5px 10px;
    }

    .col-md-6 {
        width: auto;
        float: left;
    }

}
