@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.ttf');
}

.player-result {
    width: 50px;
}

.played {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}

.results {
    padding: 5%;
}

.results-header {
    background-color: #dddddd !important;
}

.results > div > table > tbody > tr:nth-child(2n+1) {
    background-color: #eeeeee;
}

.part-nav {
    width: 15%;
    float: left;
    /*margin-right: 10%;*/
}

.bonus {
    width: 50px;
}

.opponent {
    width: 300px;
    float: left;
    margin-left: 10px;
}

.opponent-name {
    width: 150px;
}

.opponent-bonus {
    width: 50px;
}

.opponents {
    height: 40px;
}

.game-process {
    width: 75%;
    margin-left: 25%;
}

.round {
    height: 200px;
}

#description {
    resize: none;
}

#qualification {
    float: left;
    width: 40%;
}

#final {
    margin-left: 40%;
    width: 40%;
}

.remove {
    float: right;
}

#next-step, #save {
    float: right;
}

.btn-file {
    display: none;
}